html
{	
 margin-left: 1.5cm; 	
 margin-right: 1.5cm; 	
 margin-top: 5mm;
 margin-bottom: 5mm;

 font-family: Source Sans Pro, arial, sans-serif, bookerly, times;
 
 text-align: justify;
 
 font-size: 5mm;
 
  /*border: 1px solid red;  */
}

h1
{
font-family: bookerly, Source Serif Pro, serif, palatino linotype, palatino, times, arial;
font-size: 8mm;
}

h2 
{
font-family: bookerly, Source Serif Pro, serif, palatino linotype, palatino, times, arial;
font-size: 6mm;
} 

h3 
{
font-family: bookerly, Source Serif Pro, serif, palatino linotype, palatino, times, arial;
font-size: 5mm;
}

div.code
{
	font-size: 4mm;
	font-family: Source Code Pro, Courier New, Lucida Console, monospace;
}

div.row
{
	margin: 0mm; 
	float: left;
	width: 100%;
	/*border: 1px solid gray;*/
}

blockquote
{
	width: 50%; 
	min-width: 10cm; 
	margin-left: 1cm;
	font-size: 4mm;
}

div.left
{
	margin: 0mm; 
	/* margin-right: 2.5mm; */ 
	float: left; 
	width: 49.5%; 
	min-width: 8cm; 
	min-height: 100%;
	

}

div.right
{
	margin: 0mm; 
	/* margin-left: 2.5mm;  */
	float: right; 
	
	width: 49.5%; 
	min-width: 8cm; 
	min-height: 100%;
	

}

div.left_3col
{
	margin: 0mm; 
	float: left; 
	width: 33%; 
	min-width: 5cm; 
	min-height: 100%;
}
div.center_3col
{
	margin: 0mm; 
	text-align: center;
	float: left;
	width: 33%; 
	min-width: 5cm; 
	min-height: 100%;
}
div.right_3col
{
	margin: 0mm; 
	float: right;
	text-align: right; 	
	width: 33%; 
	min-width: 5cm; 
	min-height: 100%;
}

div.figure
{
	/*margin: 1cm; 
	border: 1px solid black; 
	border-radius: 3mm; */
	padding: 2mm; 
	padding-bottom: 3mm; 
}


div.caption
{
	margin: 0cm; 
	font-size: 4mm; 
}

table
{
	margin: 0in;
	margin-left: 5mm; 
	border-collapse: collapse;
	
}

th
{
	border-bottom: 1mm solid black;
	padding: 1em; 
	padding-bottom: 1mm;
	padding-top: 1mm;
	text-align: center; 
	font-family: bookerly, palatino linotype, palatino, times, arial;
}

td
{
	text-align: left; 
	padding-left: 1em; 
	font-family: arial, bookerly, times;
}

tr
{
	border-bottom: 1px solid LightGray; 
	padding: 0mm;
	padding-bottom: 0.1mm; 
	padding-top: 0.1mm; 
}

table.center, td.center
{
	text-align: center; 
}

div.table
{
	font-size: 4mm;
	width: 100%;
}
	
img {
	/*min-width:100%;*/
	display: block;
	/*max-height: 8cm;*/
	max-width: 95%;
	margin-left: auto;
	margin-right: auto;
	
	/*border: 1px solid gray; */
}

img.eqn1 {
	max-width:100%;
	max-height: 10mm;
	
	/*border: 1px solid gray; */
}

img.eqn2 {
	max-width:100%;	
	max-height: 20mm;
}

img.eqn3 {
	max-width:100%;	
	max-height: 30mm;
}

img.eqn5 {
	max-width:100%;	
	max-height: 50mm;
}

hr {
    border: 1px dashed gray;
}
footer { 
    display: block;
}

highlight{
	/*font-family:consolas; */
	/*font-weight: bold; */
	/*color: black; */
	/*background-color: yellow;*/
}
